*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Righteous', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Satisfy', cursive; */
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: unset;
}

body{
    max-width: 1280px;
    margin: auto;
    background: linear-gradient(45deg,hotpink, rgb(110, 110, 240),rgb(89, 211, 89),yellow);
    background-size: 400% 400%;
   position: relative;
   animation: cambiar 10s ease infinite;
}
@keyframes cambiar{
    0%{background-position: 0% 100%;}
    50%{background-position: 100% 0%;}
    
    100%{background-position: 0% 100%;}

}


header{
    width: 100%;
    height: calc(100vh*0.15);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header h1{
    color: white;
    font-family: 'Satisfy', cursive;
    font-weight: 200;
    transform: skew(-10deg, -10deg);
    font-size: 200%;
}
.informacion{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info01{
   padding: 10px;
  
 background-color: mediumturquoise;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.info01 p{
    letter-spacing: 1px;
}
.info02{
    padding: 10px;
     float: right;
     background-color: orangered;
     display: flex;
     flex-direction: column;
 }
 .info02 p{
    color: white;
    letter-spacing: 1px;
 }
 .info02 div p{
    font-weight: 900;
 }
 
 .logowhat{
	background-color: #25d366;
	transform: scale(1.25);
	border-radius: 50%;
	/* width: 100%;
	height: 100%; */
	border: 3px solid transparent;
    margin-left: 2px;
    margin-top: 1px;
}

  .musho{
	/* margin: 5px 0; */
	/* height: 30px; */
	display: inline-flex;

background-color: transparent;
/* z-index: 0; */
align-items: center;
border: 1px solid white;
justify-content: center;
border-radius: 25px;
/* gap: 1px; */
padding: 1px;
margin: 5px;


  }
 footer{
    width: 100%;
   
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 footer h3{
    color: white;
    font-family: 'Satisfy', cursive;
    font-weight: 200;
    letter-spacing: 1px;
 }
 .footer a{
    padding: 0px;
 }
 .texto__info{
	/* height: 30px; */
	display: flex;
	align-items: center;
	color:white;
	margin: 5px;
    font-size: 15px;
  }

.flex3{
    width: 60%;
    
}
.primero .precio{
   
   color: red;
    font-size: 15px;
}
legend{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}
.h2{
   font-weight: 800;

   
}
fieldset{
  
margin-top: 5px;
   background-color:transparent;
   border: 0px solid transparent;
   animation: field 1s linear alternate infinite;

}
@keyframes field{
    0%{filter: drop-shadow(0 0 0.6rem yellow);}
    100%{filter: drop-shadow(0 0 0.2rem greenyellow);}
}
fieldset div div{
    display: flex;
    justify-content: space-between;
   
}
.flex3 .precio{
    color: black;
}
.contenido{
    height: 0;
    width: 95%;
    margin: 0 auto;
    transform: scaleY(0);
    overflow: hidden;
    background-color: rgb(213, 219, 231);  
    
}
.contenido:first-of-type{
    margin-top: 10px;
    padding-top: 10px;
}
.contenido div{
   margin: 0 5px;
    display: flex;
    align-items: center;
}
.contenido div div h3{
    color: blue;
   
     
 }
.bloque.activo .contenido{
    height: unset;
    padding-bottom: 5px;
    animation: contenido 500ms linear forwards;
}
@keyframes contenido{
    0%{transform: scaleY(0);}
    100%{transform: scaleY(100%);}
}
.precio{
    margin-right: 5px;
}
.flex3 .precio{
    margin-right: unset;
    margin: auto;
}
@media only screen and (max-width: 450px){
    .flex3 .precio{
        font-size: 15px;
    }
    .primero .precio{
        font-size: 10px;
    }
   
}

p{
    padding: 0 5px;
}
h4{
    margin: auto;
    border-bottom: 3px double blue;
    width: 98%;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 100;
}
.last{
    border-bottom: none;
}

